.choo{
	text-align: center;
}
/* 해더 공통 */
.choo .header{
	width: 100%;
	height: 100px;
	padding: 10px;
}
.choo .header .header_left{
	width: 40%;
	height: 100%;
	float: left;
	text-align: center;
}
.choo .header .header_right{
	width: 60%;
	height: 100%;
	float: left;
}
.choo .header .header_right .user_info{
	width: 100%;
	height: 30%;
	text-align: center;
}
.choo .header .header_right .user_info ul{
	margin-left: 10px;
	line-height: 25px;
	display: inline-block;
}
.choo .header .header_right .user_info ul li{
	float: left;
	margin-left: 5px;
}
.choo .header .header_right .menu{
	width: 100%;
	height: 70%;
	margin-left: 4%;
	margin-top: 3%;
}
.choo .header .header_right .menu span{
	display: inline-block;
	background-color: #004479;
	width: 632px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.choo .header .header_right .menu ul{
	margin-left: 20px;
}
.choo .header .header_right .menu ul li{
	float: left;
	width: 20%;
}
.choo .header .header_right .menu ul li h1{
	color: #FFBB00;
}
.choo .header .header_right .menu ul li a{
	color: white;
}
.choo .header .header_right .menu ul li a:hover{
	color: #FFBB00;
}
/* 바디 공통 */
.choo .body{
	text-align: center;
	margin-top: 5%;
	width: 85%;
	display: inline-block;
}
.choo .body .lv_1{
	height: 200px;
}

.choo .body .lv_1 div{
	float: left;
}

.choo .body .lv_1 div img{
	width: 100%;
	padding: 2px;
}

.choo .body .lv_1 .left{
	text-align: left;
	width: 30%;
}
.choo .body .lv_1 .center{
	text-align: center;
	width: 40%;
}
.choo .body .lv_1 .right{
	text-align: right;
	width: 30%;
}

/* 회원 가입 */
.choo .body .register{
		
}
.bar_menu{
	background-color: red;
    display: inline-block;
    color: white;
    width: 110px;
    height: 25px;
    line-height: 1.5;
    border-radius: 6px;
       margin-bottom: 15px;
    /* border-top-left-radius: 3em;
    border-bottom-right-radius: 7em;
    border-bottom-left-radius: 2em; */
}
.choo .body table{
    display: inline-block;
}
.choo .body table th{
    text-align: left;
    padding: 2px;
}
.choo .body table td{
    text-align: left;
    padding: 2px;
}

/* 풋터 공통 */
.choo .footer{
	text-align: center;
}